<h1>comments show</h1>
<%= form_with(model: @comment, local: true) do |c| %>
<%=c.text_area :content%>
<%=c.hidden_field event_id, :value => @event.id %>
<%=c.submit %>
<% end %>

<% @events.comments.each do |c| %>
<%= c.content %>
<%= link_to 'Delete', "/comments/#{c.id}", method: :delete %>
<% end %>