<h2>event show page:</h2>
<%= @event.title %>

<%= form_with(model: @comment, local: true) do |c| %>
<div>
    <div><%=c.text_area :content%></div>
     <div><%= c.hidden_field :event_id, :value => @event.id %></div>
   
    <div><%=c.submit %></div>
    <% end %>
</div>
<hr>

<br>
<% @comments.each do |c| %>
<div>
    <div><a href="<%= "/comments/#{c.id}/edit" %>"><%= c.content %></a></div>
    
    <div><%= link_to 'Delete', "/comments/#{c.id}", method: :delete %></div>
</div>

<% end %>

<%if @test != nil %>
    <%= form_tag(new_event_path(@test), method: "event", :id => "add_event") do %>
        <select id="event_id">
	        <% @calendar_list.items.each do |calendar| %>
	            <% if calendar.access_role == 'owner' %>
	                <option value="<%= calendar.id %>"><%= calendar.summary %></option>
	            <% end%>
	        <% end %>
        </select>
        <input type="hidden" name="event_id" value="<%= @event_id%>"> 
        <%= submit_tag("Add event") %>
        <% end %>
		<%= form_tag(redirect_path, method: "get") do %>             
		    <%= submit_tag "Switch Google Account" %>
		<%end%>
<% else %>	


    <%= form_tag(redirect_path, method: "get") do %>             
        <%= submit_tag "Add It to Google Calendar" %>
    <%end%> 



<%end%>	

